@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    border: 0;
}

header{
    height: 70px;
    border-bottom: 2.5px solid white;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.imagem-esquerda img{
    float: left;
    margin-left: 50px;
    width: 35px;
}

.imagem-direita{
    float: right;
    width: 25px;
    margin-right: 50px;
}

.cabecalho img{
    padding: 20px;
    -webkit-transition: -webkit-transform .4s ease;
    transition: transform .5s ease;
}

.cabecalho:hover img:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

body{
    background-color: #1a1a2e;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
}

.box-caixa{
    padding-top: 40px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
}
.novo{
    padding: 2px;
    width: 100px;
}

table, td, th {
    border: 1px solid black;
    color: #1a1a2e;
    background-color: ivory;
}

th{
    height: 50px;

}
  
tr:nth-child(even){
    background-color: #f2f2f2;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.excluir, .editar{
    padding-top: 5px;
    width: 30px;
}

#footer{
    text-align: center;
    width: 100%;
    height: 50px;
    border-top: 2.5px solid white;
    color: #fff;
    background-color: #000000;
    margin-top: 270px;
}

#footer a{
    text-decoration: none;
    color: #fff;
}

@media only screen and (max-width: 700px) {

    header{
        height: 60px;
    }

    .imagem-direita{
        margin-top: -4px;
        margin-right: 20px
    }

    .imagem-esquerda img{
        margin-top: -5px;

        margin-left: 0px;
    }
    

}