
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body {
    background-color: #1a1a2e;

}
.box{
    width: 960px;
    margin: 0 auto;
}

nav, ul{
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: whitesmoke;
}

header{ 
    height: 70px;
    border-bottom: 2.5px solid white;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav{  
    display: flex;
}

header li {
    padding-top: 20px;
    margin: 0 auto;
}

.hero-image{
    padding-top: 70px;

    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sobre{
    align-items: center;
    text-align: center;
    color: #fff;
}

.sobre h1, h2, p{
 padding-bottom: 10px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    bottom: 0;
    height: 70px;
    border-top: 2.5px solid white;
    color: #fff;
    background-color: #000000;
}

@media only screen and (max-width: 601px) {
    
    .box{
        width: 380px;
        margin: 0 auto;
    }
    .hero-image img{
        width: 380px;
    }
    .hero-image{
        justify-content: left;
    }
  }