@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

header{ 
    width: 100%;
    height: 80px;
    border-bottom: 2.5px solid white;
    background: rgba(0, 0, 0, 0.5);
    line-height: initial;
}

.imagem-esquerda{
    float: left;
    margin-left: 20px;
    width: 35px;

}
.imagem-direita{
    float: right;
    width: 25px;
    margin-right: 20px;
}

.cabecalho img{
    padding: 20px;
    -webkit-transition: -webkit-transform .4s ease;
    transition: transform .5s ease;
}

.cabecalho:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

body{
    background-color: #1a1a2e;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
}
.box-caixa{
    height: 500px;
    margin: 0 auto;
    text-align: center;
}

.info{
    margin: 0 auto;
    margin-top: 15px;
}

.info img{
    width: 60px;
}

.info h1{
    margin-top: 10px;
}

.box-login, .box-cadastro{
    width: 330px;
    margin: -0 auto;
}

.login, .cadastro{
    margin: 0 auto;
    padding: 20px;
    padding-top: 0px;
    width: 300px;
}

.login p, .cadastro p{
    margin-top: 20px;
    text-align: left;
    padding-bottom: 10px;
}

.email, .senha, .nome{
    width: 275px;
    border: 2px solid silver;
    border-radius: 5px;
    padding: 10px;
}
.login .button, .cadastro .button{
    margin-top: 40px;
    border: 2px solid silver;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    font-family: 'Poppins', sans-serif;

}
.login .button:hover, .cadastro .button{
    opacity: 0.9;

}
.redes p{
    margin-bottom: 10px;
}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.9;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}
.cad{
    margin-top: 10px;
    font-size: 12px;
}

.cad a:link {
    text-decoration:none;
}
.cad a:visited {
    color: whitesmoke;
}