@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

header{ 
    width: 100%;
    height: 80px;
    border-bottom: 2.5px solid white;
    background: rgba(0, 0, 0, 0.5);
    line-height: initial;
}


.cabecalho{
    margin-right: 20px;

}

.imagem-esquerda{
    float: left;
    padding-left: 20px;
    width: 35px;

}

.imagem-direita{
    float: right;
    width: 25px;
    padding-right: 20px;
}

.cabecalho img{
    padding: 20px;
    -webkit-transition: -webkit-transform .4s ease;
    transition: transform .5s ease;
}

.cabecalho:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
 }

body{
    background-color: #1a1a2e;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
}